[user]
	name = $GITLAB_USER
	email = $GITLAB_MAIL
[alias]
	l = log --pretty=oneline -n 10  --abbrev-commit --graph
	s = status -s
	c = clone --recursive
	tags = tag -l
	branches = branch --all
	remotes = remote --verbose
	aliases = config --get-regexp alias
	amend = commit --amend --reuse-message=HEAD
	cam = commit -am
	reh = rebase --hard
[core]
	editor = vim
	excludesfile = ~/.gitignore
	untrackedCache = true

[color]
	ui = auto

[diff]
	renames = copies
	tool = diffuse

[diff "bin"]
	textconv = hexdump -v -C

[delta]
	features = line-numbers decorations
	line-numbers = true

